<main>
   <div class="titleDiv">
       Index Card App
   </div>
   <div class="showUsersForm">
       <form method="GET" action"/showUsers">
       <input type="submit" value="Show Existing Users">
       </form>
   </div>
   </div>
   <div class="userNameInputForm">
       <form method="POST" action="/newUser/edit?_method=PUT">
            <input type="text" name="userName" id="userNameInput">
            <label for="userNameInput">Create User Name</label>
            <input type="submit" value="Submit">
       </form>
   </div>

</main>