<main>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="userNameInputForm">
                    <form method="POST" action="/">
                            <input type="text" name="userName" id="userNameInput">
                            <label for="userNameInput">Create User Name</label>
                            <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
   </div>
   <a href="/showUsers">Show Existing Users</a>
</main>