<main>
    <div class="container-fluid">
        <div class="row p-5"></div>
        <div class="row p-5"></div>
        <div class="row p-5"></div>
        <div class="row p-5 align-items-centered justify-content-center">
            <div class="col-centered">
                <form method="POST" action="/">
                    <input type="text" name="userName" id="userNameInput">
                    <label for="userNameInput">Create User Name</label>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="row p-5"></div>
        <div class="row p-5"></div>
        <div class="row p-5"></div>
   </div>
</main>