<!DOCTYPE html>
<html>
    <head>
        <title>Hello Express App</title>
        <!-- Static assets can go in here! -->
        <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
    </head>
    <body>
        <h1>This is before body</h1>
        {{{ body }}}
        <h1>This is after body</h1>
    </body>
</html>