<main>
    <div class="container-fluid m-3">
        <h3>User Page</h3>
       <div class="card p-1 m-4" style="width: 50rem;">
            <div class="card-header">User Name: {{user.userName}}</div>
            <div class="card-body">
                <a href="/{{user._id}}/showTopics" class="btn btn-primary">See Topics</a>
                &emsp;&emsp;
                <a href="/{{user._id}}/createTopic" class="btn btn-primary">Create a new Topic</a>
            </div>
            <div class="card-footer">
                <a href="/{{user._id}}/editUser" class="btn btn-primary">Edit User</a>
            </div>
        </div>
    </div>
</main>
