<main>
    <div class="showUserContainer">
        <div class="userTitle">
            User Name: {{user.userName}}
        </div>
        <div class="userData">
            Last login: {{user.lastLogInDate}}
            user _id: {{user._id}}
        </div>
        <div class="userActions">
            <a href="/{{user._id}}/editUser">Edit User</a>
            {{!-- <<<<View users Topics>>>>
            <<<<View Users Cards>>>> --}}
        </div>
    </div>
    <a href="/">Back to Landing Page</a>
    <a href="/showUsers">Show Existing Users</a>
</main>