<main>
    <h1>LIST OF USERS</h1>
        <ul>
            {{#each allUsers}}
            <li>
                <h3>Username: {{userName}}</h3>
                <h5>Last login: {{lastLogInDate}}</h5>
                <h5>User _id: {{_id}}</h5>
            </li>
            {{/each}}
        </ul>
    <a href="/">Back to Landing Page</a>
</main>