<main>
    <div class="container p-3 m-3">
        <h3>LIST OF USERS</h3>
            {{#each allUsers}}
                <div class="card p-1 m-4">
                    <div class="card-header">User Name: {{userName}}</div>
                    <div class="card-body"><a href="/{{_id}}"
                     class="btn btn-primary">View {{userName}}'s User Page</a></div>
                </div>
            {{/each}}
    </div>
</main>