<main>
    <h1>LIST OF USERS</h1>
        <ul>start unordered list
            {{#each allUsers}}
            <li>
                <h5>Username: {{userName}}</h5>
                <h5>Last login: {{lastLogInDate}}</h5>
            </li>
            {{/each}}
        </ul>end unordered list
</main>